@import "colors";

nav {
  background-color: $secondary;

  display: flex;

  justify-content: space-between;
  padding: 0 2rem;

  align-items: center;

  > h2 {
    text-transform: uppercase;

    color: $primary;
  }

  > div {
    display: flex;
    align-items: center;

    > a {
      color: $primary;
      font-size: 1.2rem;

      margin: 0 1rem;
      transition: all 0.3s;

      &:hover {
        opacity: 0.5;
      }

      //    align-items: center;

      > p {
        position: absolute;
        background-color: $tertiary;
        font: 900 0.9rem "Roboto";

        border-radius: 50%;
        width: 15px;
        height: 15px;

        display: grid;
        place-items: center;
        // justify-content: center;
        // align-items: center;

        transform: translate(80%, -80%);
      }
    }
  }
}
